<div class="jumbotron jumbotron-fluid" th:fragment="home">
    <div class="container">
        <h1 class="display-4">Bienvenido a GTC</h1>
        <p class="lead">Sistema de Gestión de Tarjetas de Crédito.</p>
        <hr class="my-4">
        <h5>Caracteristicas del proyecto:</h5>
        <ul>
            <li><b>Lenguaje:</b> <small>Java 1.8</small></li>
            <li><b>SGBD:</b> <small>PostgreSQL</small></li>
            <li><b>PaaS:</b> <small>Heroku</small></li>
            <li><b>Frameworks:</b> <small>SpringBoot</small></li>
            <li><b>Patrones:</b> <small>MVC, Singleton, Factory</small></li>
            <li><b>Libs Front:</b> <small>Thymeleaf, Bootstrap, Datatable, jQuery, SweetAlert</small></li>
        </ul>
        <b>Repositorio:</b> <a href="https://github.com/JulianCuestas/GTC" target="_blanck">GitHub</a>
    </div>
</div>